*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-uno:  #FC7300;
    --color-dos:  #1F8A70;
    --color-tres:  #00425A;
    --color-cuatro: #181823;
    --color-cinco: #EFF5F5; 
}

.contenedor{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--color-tres);
}

/* Header */

.nav__top{
    width: 100%;
    display: flex;
    justify-content:space-between ;
    background-color: var(--color-cuatro);
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    overflow-x: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
.nav__top::-webkit-scrollbar {
    width: 0; 
    height: 0; 
}


.nav__top a {
    text-decoration: none;
    color: white;
}

.nav__list{
    display: flex;
    list-style: none;
    gap: 3rem;
    text-decoration: none;
    color: var(--color-cinco);
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    font-family: 'Poppins', sans-serif;

}


.nav__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
}

.banner{
    border: 1px solid;
    background-image: url(../multimedia/titulo_untref.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner__data{
    padding: 50px;
    color: var(--color-cinco);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__title{
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Belanosima', sans-serif;
}


/* Main */

.main{
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    background-color: var(--color-tres);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: var(--color-tres);
}

.section__title {
    font-size: 34px;
    color: var(--color-cinco);
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.section__content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section__image {
    max-width: 50%;
    margin-right: 20px;
}

.section__image2 {
    max-width: 50%;
    margin-left: 20px;
}

.section__paragraph {
    font-size: 18px;
    color: var(--color-cinco);
    line-height: 1.6;
    max-width: 50%;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}


.propuesta {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
}


.column {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.column__image {
    max-width: 100%; 
    margin-bottom: 10px; 
}


.column__title {
    font-size: 20px;
    color: var(--color-cinco);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}



.section2 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.column2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px; 
}


.column__title2 {
    font-size: 24px;
    color: var(--color-cinco);
    margin-bottom: 10px;
    font-family: 'Belanosima', sans-serif;
}


.column__paragraph {
    font-size: 16px;
    color: var(--color-cinco);
    text-align: center;
    margin-bottom: 20px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

/* Footer */

.section3 {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    background-color: var(--color-uno);
}


.column3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.column__title3 {
    font-size: 24px;
    color: var(--color-cuatro);
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: var(--color-cuatro);
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.social-links a {
    text-decoration: none;
    color: var(--color-cuatro);
    margin-bottom: 0.5rem;
}

.maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: var(--color-cuatro);
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;

}

.contact-list li {
    margin-bottom: 0.5rem;
}









.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dos);
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.column-100 {
    width: 100%;
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

form input,
form textarea {
    width: 100%;
}

.column__title3 {
    font-size: 29px;
    color: var(--color-cuatro);
    margin-bottom: 10px;
    font-family: 'Belanosima', sans-serif;
}


@media screen and (max-width: 320px){
    .section__content{
        flex-direction: column;
    }

    .section__image{
        max-width: 100%;
    }

    .section__image2{
        max-width: 100%;
    }

    .section__title{
        max-width: 100%;
    }

    .section__paragraph{
        max-width: 100%;
    }

    .propuesta{
        flex-direction: column;
    }

    .section2{
        flex-direction: column;
    }

    .section3{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px){
    .section__content{
        flex-direction: column;
    }

    .section__image{
        max-width: 100%;
    }

    .section__image2{
        max-width: 100%;
    }

    .section__title{
        max-width: 100%;
    }

    .section__paragraph{
        max-width: 100%;
    }

    .section2{
        flex-direction: column;
    }

    .contact-list {
    max-width: 80%;
    
    }

    form {
        max-width: 80%;
    }

}
